---
title: Главная
---
extends shared/_layout
block content
  
  // HERO
  .hero
    .container
      .hero__wrapper
        .hero__content
          h1.hero__title.h1-title.rtxt(js-reveal data-type="onload")
            span.rtxt__wrap
              span.rtxt__mover Рунету исполняется 
            span.rtxt__wrap
              span.rtxt__mover 25 лет
          .hero__description(data-aos="fade" data-aos-delay="500")
            p.p-main Датой рождения Российского Интернета считается 7&nbsp;апреля 1994 года&nbsp;&mdash; в&nbsp;этот день международный сетевой информационный центр InterNIC официально делегировал национальный домен .RU для Российской Федерации.
          .hero__cta(data-aos="fade-up" data-aos-delay="700")
            a(href="about.html").btn.btn-primary.btn-100-mobile
              span Подробнее о юбилее
        .hero__image
          //- .scaler.no-bg-onload(js-scaler-mobile data-ar-768="438/580" style="padding-bottom: "+ (728/1140)*100 +"%; background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_64,c_fill,e_blur:600/v1549746979/runet25/HeroIllustration.png)")
          picture(
            js-lazy
            alt=""
            data-src='img/HeroIllustration.png')
              data-src(
              media="(min-width: 769px)" 
              srcset='img/HeroIllustration.png 1x, img/HeroIllustration@2x.png 2x')
              data-src(
              media="(min-width: 0px)" 
              srcset='img/HeroIllustration_mobile.png 1x, img/HeroIllustration_mobile@2x.png 2x')
              // fallback will be added with js-lazy
              //- img(src='img/'+image+'.jpg')
                  
        // actions
        .hero__actions
          .hero__socials
            .socials.socials--black
              a(href='#' target="_blank" title="Facebook").social-btn.social-btn--facebook
                +svgMono("social-facebook")
              a(href='#' target="_blank" title="VK").social-btn.social-btn--vk
                +svgMono("social-vk")
              a(href='#' target="_blank" title="Twitter").social-btn.social-btn--twitter
                +svgMono("social-twitter")
          .hero__scrolldown(js-scroll-to data-scroll-target=".grid") Листайте вниз
        
  // HOME GRID
  .grid
    // tile
    .tile.tile--2-3
      .tile__grid
        .tile__col
          h2.h2-title.rtxt(js-reveal js-wrap-words data-delay="300") В&nbsp;2019 году домену .RU исполнится 25&nbsp;лет.
          span(data-aos="fade" data-aos-delay="300" js-teleport data-teleport-condition="<576" data-teleport-to="tile_first_link")
            a.p-link(href="about.html") Читать подробнее
        .tile__col
          p.p-main(data-aos="fade" data-aos-delay="300") 7 апреля 1994 года Российская Федерация получила национальный домен .RU, зарегистрированный международным сетевым центром InterNIC.
          p.p-main(data-aos="fade" data-aos-delay="300") Отрасль достигла зрелости. Интернет перестал быть замкнутой индустрией, став средой и неотъемлемой частью повседневной жизни. 
          span(data-aos="fade" data-aos-delay="300" data-teleport-target="tile_first_link")
            
    // tile
    .tile.tile--1-3.tile--red.reveal(js-link data-href="about.html" js-reveal data-direction="ltr" data-type="halflyEnterViewport" js-header-color data-menu-color="white")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover О проекте
      .tile__links(data-aos="fade" data-aos-delay="300")
        a(href="#") О 25 летии
        a(href="#") История проекта
        a(href="timeline.html") Этапы проведения
        a(href="news.html") Новости 25 летия / Пресс центр
        a(href="committee.html") Оргкомитет
        a(href="#") Исполком / Контакты
      a(href="about.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
        
    // tile
    .tile.tile--1-3.tile--blue.reveal(js-link data-href="number25.html" js-reveal data-direction="rtl" data-type="halflyEnterViewport" js-header-color data-menu-color="white" data-logo-color="white")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover Число 25
      p.p-small(data-aos="fade" data-aos-delay="300") Перечень мероприятий, персон, проектов и другого, связанного с числом 25
      a(href="number25.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--orange.reveal(js-link data-href="stages.html" js-reveal data-direction="ltr" data-type="halflyEnterViewport")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover Этапы большого пути
      p.p-small(data-aos="fade" data-aos-delay="300") Состояние развития и влияния
      a(href="stages.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--purple.reveal(js-link data-href="me.html" js-reveal data-direction="ltr" data-type="halflyEnterViewport")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover Я — часть Рунета
      p.p-small(data-aos="fade" data-aos-delay="300") Про Рунет: конкурс журналистов, образовательная программа, конкурс статей в Википедии про Рунет (люди, компании, технологии, сайты)
      a(href="me.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--1-3.tile--pink.reveal(js-link data-href="25years.html" js-reveal data-direction="rtl" data-type="halflyEnterViewport")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover 25 лет .RU
      p.p-small(data-aos="fade" data-aos-delay="300") Краткая история появления и развития отечественного домена .RU
      a(href="25years.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
          
    // tile
    .tile.tile--2-3.tile--yellow.tile--1-3-lg
      .tile__img-cover(style="background-image: url(https://res.cloudinary.com/dqruxbmfq/image/upload/w_128,c_fill,e_blur:600/v1549746979/runet25/fruits.jpg)")
        img(js-lazy data-src="img/fruits.png" data-srcset='img/fruits@2x.png 2x')
  
    // tile
    .tile.tile--2-3.tile--2-3-hd.tile--lg-last(js-header-color data-menu-color="white")
      h2.h2-title.rtxt(js-reveal js-wrap-words data-delay="300") Подписаться на дайджест юбилея
      p.p-main(data-aos="fade" data-aos-delay="300") Будьте в курсе всех событий юбилея! Обещаем, <br/>что будем писать только по важным поводам :)
      form(action="/email-form.php" js-validate-subscription data-aos="fade" data-aos-delay="500").subsc-form
        .ui-group
          label(for="email") Эл. почта
          input.ui-input(type="email" name="email" placeholder="ivan.petrov@address.ru")
        .ui-group
          button(type="submit").btn.btn-primary
            span Подписаться
      
      // modal
      .mfp-dialog.mfp-thanks.mfp-hide#subsc-thanks
        .h2-title Спасибо за подписку!
        p.p-small(js-subsc-thanks-message) Вы подписались на дайджест юбилея, используя почту <strong>svyatoslav.konstantinov@rambler.ru</strong>
        a(href="#" js-close-mfp).btn.btn-primary
          span Вернуться на сайт
        
    // tile
    .tile.tile--1-3.tile--1-3-hd.tile--green.reveal(js-link data-href="calendar.html" js-reveal data-direction="ltr" data-type="halflyEnterViewport")
      h2.h2-title.rtxt(js-reveal data-delay="300") 
        span.rtxt__wrap 
          span.rtxt__mover Календарь 25-летия
      p.p-small(data-aos="fade" data-aos-delay="300") Полный список мероприятий 2019 года, приуроченных к юбилею
      a(href="calendar.html" data-aos="fade" data-aos-delay="500").tile__cta
        span Читать подробнее
        i.icon.icon-arrow-white
